asgiref==3.6.0
Django==4.2
redis==4.6.0
django-filter==23.1
djangorestframework==3.14.0
importlib-metadata==6.3.0
Markdown==3.4.3
pytz==2023.3
sqlparse==0.4.3
zipp==3.15.0
django-cors-headers==3.14.0
psycopg2==2.9.3
uWSGI==2.0.20

channels==4.0.0
daphne==4.0.0
channels-redis==4.1.0

protobuf==4.24.0

uvicorn[standard]==0.23.2
openai==1.6.1
tiktoken==0.5.1

pytest==7.4.4
pytest-django==4.7.0
pytest-xdist==3.5.0
pytest-cov==4.1.0
